body{
    height: 98vh;
    background-image: url(imagens1/icon.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right bottom; /*Primeiro coluna depis linha*/

}